<!--                            Single patient detail-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link rel="stylesheet" href="/style.css"> 

</head>
<body>
  <div class="Detail-card">
        <h1>Details of <%=patient.name %></h1>
        <strong>
            <p>ID: <%=patient.id %></p>
            <p>AGE: <%=patient.age %></p>
            <p>DISEASE:<%=patient.disease %> </p>



        </strong>
        <a href="/patients">← Back to Patient List</a>

    </div>
</body>
</html>
