<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Patients</title>
        <link rel="stylesheet" href="/style.css"> 

</head>
<body>
    <div class="list-container">
    <h1><%=title %></h1>
    <a class="add-btn" href="/patients/add" > + Add Patient</a>
    <ul class="list">
        <% patients.forEach(patient=>{ %>
            <li>
                <strong>
                  <a href="/patients/<%=patient.id %>"> <%=patient.name %></a> -
                  <%=patient.age %> - 
                  <%= patient.disease %>
                </strong>
            </li>
       <% }) %>
    </ul>

    <a class="back-btn" href="/">← Back to home</a>
    </div>
</body>
</html>